body {
  background-color: orange;
}

h1 {
  color: brown;
  margin-left: 20px;
}#first{
				color:red 
} 

#second{
				color:black
} 

#third{
				color:blue
}

#fourth{
        color:yellow
}

#fifth{
       color:brown
}

#sixth{
       color:green
}